.matchComponent {
    margin-bottom: 20px;
  }
  
  .matchComponent p {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .matchComponent select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
  }